<h2>Welcome, {{newUser.name}} &nbsp;&nbsp;&nbsp;<button ng-click="logout()">Sign Out</button></h2>


<div ng-repeat="wish in wishes">
<h2>Here's the buckect list for {{wish._user[0].name}} </h2>
</div>

<h3>Pending:</h3>
<form ng-repeat="wish in wishes" >
<input type="checkbox" ng-if="newUser.name == wish._user[0].name" ng-click="toggle(wish)">{{wish.title}}-{{wish.description}}---{{wish.createdAt | date : "MMMM dd yyyy"}}
</form>


<h3>Done:</h3>
<ul>
	<li ng-repeat = "selection in selected">
		{{selection.title}}
	</li>
</ul>

<style>
	body{
		background-color: #C390D4;
	}
</style>

